header {
  line-height: 58px;
  background-color: navy;
}

#profile-photo {
width: 180px;
height: 200px;
border-radius: 20%;
}

section {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  background-image: url(../background-1866485_1920.jpg);
}

body {
  text-align: center;
}

h1 {
  color: skyblue;
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

img {
  width: 600px;
  height: 500px;
}

.feed {
  margin: 100px;
  padding: 40px;
  background-color: rgb(196, 194, 194);
  border-radius: 10px;
}

p {
  color: rgb  
}

